.firstContainer {
  background-color: #1b1c1d;
  color: white;
  color: "#fff";
  width: "100%";
  max-width: "100%";
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
}
.secondContainer {
  padding-top: 50px;
  width: "100%";
  max-width: "100%";
  margin-left: 0px;
  margin-right: 0px;
}
