.paper {
  margin: 10px;
  margin-top: 15px;
}

.card {
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 1000px) {
  .cardActions {
    width: 100%;
    margin-left: 0px;
    padding-top: 0px !important;
    padding-left: 5px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 1000px) {
  .cardActions {
    width: 100%;
    margin-left: 50px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.cardContent {
  width: 100%;
  padding: 0px !important;
}

.customParagraph {
  margin-left: 10px !important;
  display: inline-block;
}

.title {
  justify-content: center;
  font-weight: bold;
}

.institutionsText {
  max-width: "80%";
}
.institution {
  justify-content: "flex-start";
  align-items: "flex-end";
  margin-left: "5px";
  width: "100%";
  margin-right: "0px !important";
  display: "flex";
}
