html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  min-width: 700px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
